.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 8vh 82vh 8vh;
  grid-gap: 3px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";

  &_header{
    grid-area: h;
    background-color: lightgray;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;

    &__nav-links{
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      width: 30%;

      & li{
        list-style: none;
        font-weight: 700;
      }

    }
  }

  &_content{
    grid-area: c;
    margin: 2rem;
  }

  &_footer{
    grid-area: f;
    background-color: lightgray;
  }
}
